<!-- app/templates/home/dashboard.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Check documents{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <div class="shadow"><img class="logo" src="../static/img/ajax-loader.gif" /></div>
    <div class="container-body">
        <div class="dashboard-content">
            <textarea class="txta-small" name="t1" id="t1">{{ text1 }}</textarea>
        </div>
       <div class="dashboard-content">
            <textarea class="txta-small" name="t2" id="t2">{{ text2 }}</textarea>
        </div>
    </div>
    <div class="container-button">
        <input class="btn btn-default" id="findSim" name="find" type="submit" value="Find Similarity">
    </div>
  </div>
  <script type="text/javascript" src="../static/dashboard.js">
</script>
</div>
{% endblock %}

