<!-- app/templates/home/dashboard.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <div class="shadow"><img class="logo" src="../static/img/ajax-loader.gif" /></div>
    <label>Select Country and Environment</label>
     <div class="form form-inline" role="">
        <div class="form-group ">
          <select class="form-control" id="country" name="country"><option value="EN-GB">English</option></select>
          <select class="form-control" id="env" name="env"><option value="test">Test</option><option value="prod">Production</option></select>
          <select class="form-control" id="year" name="year">
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
          </select>
        </div>
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Load Documents">
        <label class="doc-info"></label>
        <input type="checkbox" id="setText" class="setText" value="setText"> <label for="setText">Set Example Text</label>
    </div>
    <div class="container-body">
        <div class="dashboard-content">
            <textarea class="txta-small" id="t1" name="t1">Paste your text and click on Find Similarity</textarea>
        </div>
         <div class="dashboard-content" id="hiddenText">
            <textarea class="txta-small" name="t2" id="t2">{{ text2 }}</textarea>
        </div>
        <div class="dashboard-content-left">
            <div class="Table">
              <div class="Table-header">
                <div class="Table-row-item">Document Id</div>
                <div class="Table-row-item">Similarity %</div>
                <div class="Table-row-item">Text</div>
                <div class="Table-row-item">Compare</div>
              </div>
            </div>
        </div>
    </div>
    <div class="container-button">
        <input class="btn btn-default" id="findSim" name="find" type="submit" value="Find Similarity">
    </div>
  </div>
  <script type="text/javascript" src="../static/dashboard.js">
</script>
</div>
{% endblock %}

