<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | SimText Project</title>
    <link href="{{ url_for('static', filename='css/bootstrapmin.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <script type="text/javascript">
  $(document).ready(function(){
    $linkLoadDocs= "{{ url_for('home.loadDocs') }}";
    $linkSimilarity= "{{ url_for('home.findSimilarity') }}";
    $csrf_token = "{{ csrf_token() }}";
    $linkcheckDocuments = "{{ url_for('home.checkDocuments') }}";
  })
  </script>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">SimText Project</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.email }}!</a></li>
              {% else %}
                <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
              {% endif %}
          </ul>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        {% if current_user.is_authenticated %}
                          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                    <p class="copyright text-muted small">TFM by Miguel Garcia Ibañez</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>