body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}


.navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;

}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #37d6f3;
}

footer {
    padding: 50px 0;
    background-color: #337ab7;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #286090;
    background-color: #d9edf7;
    border-color: #337ab7;
}

.btn-default {
    border-color: #337ab7;
    color: #337ab7;
}

.btn-default:hover {
    background-color: #337ab7;
    color: #ffffff;
}

.center {
    margin: auto;
    width: 85%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #286090;
    border-bottom: 1px solid rgba(40,96,144,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px #286090;
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px #286090;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8em;;
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
}

.text-muted {
    color: #d9edf7;
}

.rowarea {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-inline-flex;

}

.container-body {
  display: flex;
  -webkit-display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /*background-color: blue;*/
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.container-button{
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  /*align-items: flex-start;*/
  /*background-color: blue;*/
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.dashboard-content {
  /*background-color: green;*/
  padding-right: 10px;
  flex-grow: 0;
  -webkit-flex-grow: 0;
}

.dashboard-content-left {
  /*background-color: green;*/
  display:none;
  padding-right: 10px;
  flex-grow: 2;
  -webkit-flex-grow: 2;
}

.txta-small {
  -webkit-flex: 0 1 auto;
  overflow-y: scroll;
  min-height: 5em;
  max-height: 25em;
  height: 20em;
  width: 42em;
}

div#hiddenText{
    padding-left: 30px
}

.Table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid
  border: 1px solid #f2f2f2;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
  /*background-color: red;*/
  width:100%;
}


.Table .Table-row:nth-child(odd) {
  background-color: #d9edf7;
}

.Table .Table-row:nth-child(even) {
  background-color: rgba(217, 237, 247, 0.1);
}


.Table .Table-header{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  padding: 6px 2px 6px 2px;
  color: #fff;
  background-color:#337ab7;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.Table .Table-header .Table-row-item{
    flex: 1 0 25px;
    text-align:center;
}



.Table .Table-row{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;


    flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    -webkit-flow: row nowrap;

    align-items: center;

    width: 100%;
    justify-content: space-between;
    padding: 6px 2px 6px 2px;
    line-height: 15px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #337ab7;
}

.Table .Table-row .Table-row-item{
    flex: 1 0 25px;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.shadow {
    display:none;
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:30%;
    left:50%;
    overflow:visible;
}

.doc-info {
    display:none;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #337ab7;
}

img.eye {
    width: 25px;
    height: 25px;
}


#hiddenText {
    display:none;
}

#year {
    display:none;
}
